{% extends "mainpage.html" %}
{% block title %}Welcome{% endblock %} 
{% block content %}

<div class="row">

<div class="span8 contentbox">
 
 <h2>Welcome to Partridge</h2>
 <p>
 Hello and welcome to Partridge. This is a web based tool used for information retrieval
 and filtering that makes use of Machine Learning techniques.
 </p>

 <p>Partridge indexes lots of academic papers and classifies them based on
 their content. It also indexes their content by scientific concept, providing
 the ability to search for phrases within specific key areas of the paper (for
 example, you could search for a specific outcome in the 'conclusion' or find
 out how the experiment was conducted in the 'methodology' section.</p>

 <p>To start using Partridge to find relevant scientific papers, <a
 href="/query">Click Here</a>.</p>
</div>

</div>

{% endblock %}
