{% extends "mainpage.html" %}
{%block extrascripts %}
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script src="/static/js/jqplot/jquery.jqplot.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.donutRenderer.min.js"></script>
<link href="/static/js/jqplot/jquery.jqplot.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}{{ paper.title }}{% endblock %}

{% block content %}

<h2>{{ paper.title }}</h2>

<h3> Paper Type: {{paper.type}} </h3>

<h3>
{% if paper.authors|count > 0 %}
{% for author in paper.authors %}
{{author.forenames}} {{author.surname}},
{% endfor %}
{% else %}
&lt;Unknown Author&gt;
{% endif %}
</h3>

<h4>Abstract</h4>
<div id="paperAbstract">
{{ paper.abstract }}
</div>

<h4> Files </h4>

{% if paper.files|count > 0 %}
<ul>
{% for file in paper.files %}
<li> <a href="{{ url_for(".paper_file", the_file=file) }}">
    {{file.basename}}
    </a> 
    - {{file.contentType}} 
</li>
{% endfor %}
</ul>
{% else %}
<p> Currently no files available for this paper </p>
{% endif %}

<h4> CoreSC Distribution </h4>
<div id="sentenceChart">

</div>

<script type="text/javascript">

$(document).ready(function(){
  var data = [
    {% for label, percent in paper.sentenceDistribution() %}
    [ '{{label}}', {{percent}}]{% if not loop.last %},{% endif %}
    {% endfor %}
  ];
  var plot1 = jQuery.jqplot ('sentenceChart', [data],
    {
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      },
      legend: { show:true, location: 'e' }
    }
  );
});

</script>


{% endblock %}
