{% extends "mainpage.html" %}
{% block title %}Run Query{% endblock %}
{% block extrascripts %}
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="/static/js/jquery.ba-bbq.min.js" type="text/javascript"></script>
<script type="text/javascript">
var loader_image = "/static/img/loader.gif";
var page_limit = {{ limit }};
</script>
<script src="/static/js/queryform.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row">

<div class="span8 contentbox">

<h2>Query Partridge</h2>

<div class="row">

<div class="span8">
<p>Partridge currently holds information on {{ paper_count }} papers. You can query this
dataset through the form below.</p>
</div>


</div>

<div class="row">

    <div class="span2">
        <div class="row">

        <div class="span2">
            <h4>Queries</h4>

            <ul id="queryList">
                <i>No query constraints</i>
            </ul>

        </div>


        <div class="span2">
            <h4>Filters</h4>

            <ul id="filterList">
                <div id="paperTypeDiv">
                    <label for="paper_type">Paper Type:</label>
                    <select name="paper_type" id="paper_type" class="input-small">
                        <option value="">No Filter 
                        ({{paper_count}} papers)
                        </option> 
                        {% for key in paper_types.keys() %}
                        <option value="{{ key }}">{{ key }} 
                        ({{ paper_types[key] }} Papers)
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </ul>

        </div>


        </div>
            
    </div>

    <div class="span6">
        
        <div class="row">

        <div class="span6">
        
        <div class="form-inline">

        <input type="text" placeholder="Search terms..." name="queryText" id="queryText"> 
        
        <select id="corescSelect" class="input-small">
        <option value="author">Authored By</option>
        <option value="any"> Paper contains</option>
        {% for key in corescs.keys() %}
        <option value="{{ key }}"> {{ corescs[key] }} contains</option>
        {% endfor %}
        </select>

        <button id="addConstraint" class="btn btn-primary"><i
        class="icon-plus"></i></button>
        </div>
        </div>


        <div class="span6">

        <h3>Search Results</h3>

        <div id="resultStats"></div>

        <div id="searchResults">
        <img src="/static/img/loader.gif" alt="loading results..." />
        </div>

        <div class="pagination pagination-centered">
            <ul id="paginationStuff">
            </ul>
        </div>

        </div>

        </div>
    </div>
</div>

</div>

</div>
{% endblock %}
