{% extends "mainpage.html" %}
{% block title %} Add Remote Paper {% endblock %}
{% block extrascripts %}
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="/static/js/jquery.ba-bbq.min.js" type="text/javascript"></script>
<script type="text/javascript">
var loader_image = "/static/img/loader.gif";
var remote_paper_backend = "{{ url_for(".download_papers") }}";
</script>

<script src="/static/js/remote.js" type="text/javascript"></script>

{% endblock %}
{% block content %}
<div class="row">

<div class="span8 contentbox">

<h1> Scan Remote URL </h1>




<p> You can add the Scanner Bookmarklet and add papers to Partridge as you encounter
them! Simply bookmark the following link:
<a
href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='{{
url_for('.bookmarklet', _external=True) }}';})();">Add
To Partridge</a>
</p>

<div>
<div class="row">

<div class="span4">
<label for="remote_url">Remote URL</label>
<input type="text" name="remote_url" id="remote_url" >
</div>

<div class="span4">
<p>Enter the URL of a remote Open Access paper and we'll
try and add it to Partridge. Please make sure you have
permission to add the paper first.</p>
</div>

</div>


<div class="row">

<div class="span4">
<label for="email">Email Address </label>
<input type-"text" name="email" id="email" >
</div>

<div class="span4">
    <p>(Optional) If you enter your email into this box, we'll let you know when your paper
has been processed. We promise not to use your email address for any other
purpose</p>
</div>

</div>

<button id="urlScanButton"  class="btn btn-primary">Scan URL For Papers</button>
</div>

<div id="resultsDiv">
</div>


</div>

</div>

{% endblock %}
