{% extends "mainpage.html" %}
{% block title %}Upload Paper{% endblock %} 
{% block content %}

<div class="row">

<div class="span8 contentbox">
 
 <h2>Add your paper to partridge</h2>
 <p>If you are an author or publisher of a scientific paper and you'd like
 to make your paper more accessible to researchers, please feel free to upload
 it here and add it to the Partridge corpus.</p>

 <p>Partridge accepts papers in PDF, SciXML and Annotated SciXML. You can
 submit papers stored in any of these formats here.</p>

</div>

</div>

{% endblock %}
